<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <title>
    <%= title %>
  </title>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <%- include('header') %>

    <h1 class="center">Regsitro de funcionario</h1>

    <div class="container">
      <form action="/save" method="post">
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
            <input id="name" type="text" class="validate">
            <label for="name">Nombres</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">badge</i>
            <input id="dni" type="text" class="validate">
            <label for="dni">Cédula</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">password</i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <select>
              <option value="" disabled selected>Seleccione el servicio</option>
              <% services.array.forEach(service => { %>
                <option value="<%= service._id %> "><%= service.name %></option>
              <% }); %>
            </select>
            <label>Servicio</label>
          </div>
          <div class="input-field col s12 m6">
            <select>
              <option value="" disabled selected>Seleccione el horario</option>
              <% schedules.array.forEach(schedule => { %>
                <option value="<%= schedule._id %> "><%= schedule.work_day_one.start%> - <%= schedule.work_day_one.start%> <% if (work_day_two) {%> <% %> </option>
              <% }); %>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <select>
              <option value="" disabled selected>Tipo de funcionario</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      </form>
    </div>

    <%- include('footer') %>

</body>

</html>